@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

color: #fff;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    margin: 0 auto;
}



.background {
    background: url("../src/assets/img/background.jpg") no-repeat;

}



.menuLink {
    font-size: 24px;

}

.menu {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.3);
}

/*.background img {*/
/*    right: 10px;*/
/*    margin-top: -29px;*/
/*    margin-bottom: -40px;*/
/*    margin-left: -10px;*/
/*    width: 70%;*/
/*}*/


.menu a{
    color: #fff;
    padding-right: 15px;
}

.main {
    margin-bottom: 50px;
}

.barber1 {
    writing-mode: vertical-rl;
    transform: scale(-1);
    margin-top: -80px;
    margin-left: 224px ;
    font-size: 24px;
}
.barber2 {
    writing-mode: vertical-rl;
    transform: scale(-1);
    margin-top: -81px;
    margin-left: 283px;
    font-size: 24px;
}
.barber3 {
    writing-mode: vertical-rl;
    transform: scale(-1);
    margin-top: -127px;
    margin-left: 343px;
    font-size: 24px;
}

.titlePrice {
    font-size: 30px;
    margin-bottom: 192px;
    margin-top: 220px;
    margin-left: -150px;
    align-items: start;
}


.liPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.liPriceTitle {
    padding-left: 10px;
    font-size: 20px;
}

.liPricePrice {
    padding-right: 16px;
    font-size: 16px;

}

.scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.scroller-wrapper {
    overflow-y: hidden;
    overflow-x: scroll;
}

.people {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.person-card {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border: 1px solid rgba(227, 227, 227);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    min-width: 240px;
    width: 240px;
}



