@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

color: #fff;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    margin: 0 auto;

}



.background {
    background: url("../src/assets/img/background.jpg") no-repeat;
    margin: 0 auto;
    padding: 0 10px;

}



.menuLink {
    font-size: 24px;

}

.menu {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.3);
}

/*.background img {*/
/*    right: 10px;*/
/*    margin-top: -29px;*/
/*    margin-bottom: -40px;*/
/*    margin-left: -10px;*/
/*    width: 70%;*/
/*}*/


.menu a{
    color: #fff;
    padding-right: 15px;
}

.whatsapp {
    position: fixed;
    width: 50px;
    height: auto;
    top: 90px;
    right: 50px;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.main {
    margin-bottom: 50px;
}

.barber1 {
    writing-mode: vertical-rl;
    transform: scale(-1);
    margin-top: -124px;
    margin-left: 250px;
    font-size: 24px;
    font-weight: 700;
}
.barber2 {
    writing-mode: vertical-rl;
    transform: scale(-1);
    margin-top: -121px;
    margin-left: 313px;
    font-size: 24px;
    font-weight: 700;

}
.barber3 {
    writing-mode: vertical-rl;
    transform: scale(-1);
    margin-top: -127px;
    margin-left: 343px;
    font-size: 24px;
}

.titlePrice {
    font-size: 30px;
    margin-bottom: 192px;
    margin-top: 20px;
    margin-left: -150px;
    align-items: start;
}


.liPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.liPriceTitle {

    padding-left: 10px;
    font-size: 20px;
}

.liPricePrice {
    margin-right: 10px;
    font-size: 16px;
    background: #fd0000;
    border-radius: 15px;
    padding: 4px 8px;

}

.liPricePrice1 {
    margin-right: 10px;
    font-size: 16px;
    background: #fd0000;
    border-radius: 15px;
    padding: 4px 8px;

}

.sale {
    font-size: 24px;
    color: #fd0000;
}

.titleLocation {
font-size: 22px;

}

.scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.scroller-wrapper {
    overflow-y: hidden;
    overflow-x: scroll;
}

.people {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.person-card div img{
    margin-right: -50px;
}

.person-card {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border: 1px solid rgba(227, 227, 227);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    min-width: 170px;
    width: 140px;
    margin: 0 15px;
    color: #000;
}


.locationTitle {
    font-size: 32px;
    font-weight: 700 ;
    margin: 20px 0;

}

.locationUl {
    list-style: none;
    width: 325px;
    height: 260px;
    padding: 0 15px;
    text-align: center;
    align-items: center;

}


.locationLi {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 0 10px;

}

.locationLi span {
    padding-left: 10px;
}

.locationImg {
    width: 16px;
    height: auto;

}









